/* Responsive 
    PC: >= 1024px
    Tablet: >= 740px & < 1024px
    Mobile: < 740px */

/* PC */

@media (min-width: 64em) {
}

/* Mobile && Tablet */

@media (max-width: 63.9375em) {
  .hide-on-mobile-tablet {
    display: none;
  }
}

/* Tablet */

@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .hide-on-tablet {
    display: none;
  }
}

/* Mobile */

@media (max-width: 46.1875em) {
  .hide-on-mobile {
    display: none;
  }
}
